.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.left {
    width: 300px;
    height: 100%;
    background-color: lightblue;
}
.right {
    width: calc(100% - 300px);
    padding: 10px;
}