<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/purecss/build/pure-min.css"
            integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="./style.css" />
        <script src="https://livejs.com/live.js" crossorigin></script>
        <title>React minimal</title>
    </head>
    <body>
        <div id="root"></div>
        <script
            src="https://unpkg.com/react/umd/react.development.js"
            crossorigin
        ></script>
        <script
            src="https://unpkg.com/react-dom/umd/react-dom.development.js"
            crossorigin
        ></script>
        <script
            src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"
            crossorigin
        ></script>
        <script src="https://unpkg.com/babel-standalone/babel.min.js"></script>
        <% for(let file of files) { %>
        <script src="./<%= file %>" type="text/babel"></script>
        <% } %>
        <script src="./app.jsx" type="text/babel"></script>
    </body>
</html>
